<!-- <app-gen-ai></app-gen-ai> -->
<div class="progress-summary1">
   <div class="progress-summary">
      <div class="progress-circle">
         <svg viewBox="0 0 120 120" class="progress-svg">
            <circle class="progress-track" cx="60" cy="60" r="48"></circle>
            <circle class="progress-value" cx="60" cy="60" r="48" [attr.stroke-dasharray]="circumference"
               [attr.stroke-dashoffset]="selstrokeOffset"></circle>
         </svg>
         <div class="progress-label">
            <span class="progress-number">{{ selcompleted }}</span>
            <span class="progress-total">/ {{ seltotal }}</span>
         </div>
      </div>

      <div class="progress-text">
         <h3>Invoice status- SEL</h3>
         <p>{{ selpercentage }}% completed</p>
      </div>
   </div>
   <div class="progress-summary">
      <div class="progress-circle">
         <svg viewBox="0 0 120 120" class="progress-svg">
            <circle class="progress-track" cx="60" cy="60" r="48"></circle>
            <circle class="progress-value" cx="60" cy="60" r="48" [attr.stroke-dasharray]="circumference"
               [attr.stroke-dashoffset]="mrostrokeOffset"></circle>
         </svg>
         <div class="progress-label">
            <span class="progress-number">{{ mrocompleted }}</span>
            <span class="progress-total">/ {{ mrototal }}</span>
         </div>
      </div>

      <div class="progress-text">
         <h3>Invoice status- MRO</h3>
         <p>{{ mropercentage }}% completed</p>
      </div>
   </div>
</div>
<div class="card-row">
   <app-invoice-genrated></app-invoice-genrated>
   <app-mns270></app-mns270>
   <app-mec-faliures></app-mec-faliures>
</div>
